/* src/Loader.css */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.loader-svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.loader-svg path {
  fill: #fff;
}